body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: #c770ff;
}

input {
    background: black;
    border: 1px solid #8000ff;
    color: #c770ff;
    padding: 8px;
    margin: 5px;
}

button {
    background: #8000ff;
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px #a020ff;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/* DESKTOP */
@media (min-width: 900px) {

    #app {
        flex-direction: row;
    }

    #sidebar {
        width: 250px;
        background: #0a0a0a;
        padding: 15px;
        box-shadow: 0 0 15px #8000ff;
    }

    #main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
